@import "tailwindcss";

@theme {
  --color-green: #22745E;
  --color-white: #FEFEFE;
  --color-orange: #FE911A;
  --color-blue: #195F81;
  --color-gray: #5f6c71;
  --color-darkBlue: #1B2E35;
  --background: #FEFEFE;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}